.bar-title {
    background-color: #655c56;

    h3 {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: 0;
        padding: 2rem;
    }
}